<html>
	<head>
		<meta charset="UTF-8">
		<title> KaKaChat </title>
		<link rel="stylesheet" href="../static/style.css"> 
	</head>
	<body bgcolor="000000">
        <form action="{{url_for('index')}}" method="post">
            <button type="submit" class="button">Log Out</button>
        </form>
        <form action="{{url_for('chats')}}" method="get">
            {% block content %}
                {% for x in chats %}
                <table>
                    <tr>
                            {% if x['contactName'] == None %}
                                <td> {{x['chatID']}} : {{x['groupName']}}</td>
                            {% else %}
                                <td> {{x['chatID']}} : {{x['contactName']}}</td>
                            {% endif %}
                        </tr>
                    </table>
                    {% endfor %}									 
            {%endblock content%}
        </form>
        <form action="{{url_for('chats')}}" method="post">
			<input type="text" name="chatID" placeholder="Enter ID of chat you want to see" class="textbox" id="chatID" required></br></br>
            <button type="submit"> submit</button>
        </form>
        <form action="{{url_for('createContact')}}" method="GET" name="createContact">
            <button type="submit"> Create new contact</button>
        </form>
        <form action="{{url_for('createChat')}}" method="GET" name="createChat">
            <button type="submit"> Create new chat</button>
        </form>
        <form action="{{url_for('createGroupChat')}}" method="GET" name="createGroupChat">
            <button type="submit"> Create new group chat</button>
        </form>
        <form action="{{url_for('addMember')}}" method="GET" name="addMember">
            <button type="submit"> Add a member to a group</button>
        </form>
        <form action="{{url_for('changeInfo')}}" method="GET" name="changePersonalInfo">
            <button type="submit"> Change info</button>
        </form>
        <form action="{{url_for('Info')}}" method="GET" name="changePersonalInfo">
            <button type="submit"> Your info</button>
        </form>
    </body>
</html>
