<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaKaChat</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body bgcolor="000000">
    <div class="index" align="center">
        {% for x in res %}
            <table>
                <tr>
                    <td>{{ x['contactName'] }} : {{x['phoneNumber']}}</td>
                </tr>
            </table>
		{% endfor %}
        <form action="{{url_for('createChat')}}" method="post">
			<input type="text" name="name" placeholder="Enter your contact name" class="textbox" id="name" required></br></br>
            <button type="submit" class="button">Create chat</button>
        </form>
    </div>
</body>
</html>