<!--Store this code in 'display.html' file inside the 'templates' folder-->

<html lang="en">
	<head>
		<title>KaKaChat</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#00000">
		<div class="one">
			<div class="content" align="center">
				<div class="topbar">			 
				</div> 
				<div class="contentbar">
					{% for x in res %}
                        <table>
							<tr>
                                <td>Contact name : {{x['contactName']}}</td>
							</tr>
                            <tr>
                                <td>Phone number : {{x['phoneNumber']}}</td>
                            </tr>
                        </table>
					{% endfor %}	
                    <form action="{{url_for('deleteChat')}}" method="post">
                        <input type="text" name="phoneNumber" id="phoneNumber" required placeholder="Enter phoneNumber">
                        <button class="button" type="submit">delete chat</button>
                    </form>								 
				</div>
			</div>
		</div>
	</body>
</html>
