<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaKaChat</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body bgcolor="000000">
    <div class="index" align="center">
        <h1>Welcome to KaKaChat</h1>
            <form action="{{url_for('create')}}" method="GET">
                <button type="submit">Register</button>
            </form>
            <form action="{{url_for('login')}}" method="GET">
                <button type="submit">Login</button>
            </form>
    </div>
</body>
</html>