<!--Store this code in 'display.html' file inside the 'templates' folder-->

<html lang="en">
	<head>
		<title>KaKaChat</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#00000">
		<div class="one">
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in Display Page!! </h2>				 
				</div> 
				<div class="contentbar">
					{% for x in results %}
                        <table>
							<tr>
								<td>token:</td>
                                <td>{{ x['token'] }}</td>
							</tr>
                            <tr>
                                <td>First name:</td>
                                <td>{{ x['FName'] }}</td>
								<td>Last name:</td>
                                <td>{{ x['LName'] }}</td>
								<td>Username:</td>
                                <td>{{ x['ID'] }}</td>
								<td>Password:</td>
                                <td>{{ x['pass'] }}</td>
								<td>Phone number:</td>
                                <td>{{ x['phoneNumber'] }}</td>
                            </tr>
                        </table>
					{% endfor %}									 
				</div>
			</div>
		</div>
	</body>
</html>
